 @import "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700";
 body {
  font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143; 
  font-weight: 500; 
  font-size: 14px;
  color:#6a6c6f; overflow-x:hidden
}

/*-- filter job --*/
.filterDiv{
	display:none !important;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.showfilter {
	display: block !important;
}

#filterBtnCat .btn:hover, #filterBtnCat .active{
	background-color: #0072BB !important;
	color: #fff !important;
}

/*-- end of filter job --*/

.birumenu{
      background-color: #eceff1!important;
}

.lead { font-size: 13px; }

.navbar {

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15); 
    margin-bottom: 0px;
    min-height: 53px;
    padding-bottom: 0;
    padding-top: 0; 
}
.navbar-default .navbar-brand {
    color: #777;
    font-size: 25px;
   
}
.navbar-default .navbar-nav > li > a
{
    color: #333;
    font-weight: 600;
    text-transform:uppercase;
    font-size: 12px;
    line-height: 35px;
}
.dropdown-menu > li > a {
  font-size: 13px;
  padding: 10px 20px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background: none;
  color: #222;
}

.navbar-nav .dropdown-menu {
  box-shadow: none;
  border: 1px #eee solid;
  border-top: none;
  border-radius: 0;


}
.navbar-static-top {
  border-width: 1px 0;
}
.page-header {
  background: #f7f7f7;
  border-bottom:none;
  margin:0;
  padding: 35px 0;
}
.page-header h2{
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color: #444;


  }
.page-header span {
  font-weight: 300;
}  
.breadcrumb {
  padding: 5px 0 5px 0 ;
  font-size: 12px;
  margin-bottom: 0;
  background: transparent !important;
  width: auto;
  float: right;
  margin-top: -30px;
}

.bg-white { 
    background: #fff;  
    color:#2c2c2c;  
}
.bg-gray {
    background: #f6f6f6;
}
.bg-light {
  background: #f7f9fa ;

}


.bg-transparent {
    background: none !important;
}
#main-content {
  margin-top: 122px;
}

.slider {
 
  background: #f6f6f6 url('images/slider1.jpg') no-repeat  ;
  background-size: 100% 550px ,cover; 
  margin-bottom: 20px;
  min-height: 550px;
}
.slider:before {
  opacity: 0.7;
  background:rgba(0, 0, 0, 0.5) ;
}
.slider .spoiler{
    padding: 100px 0 50px;
    font-weight: 500;   
    color: #333;
  
}
.slider .spoiler h1{
    font-size: 60px;
   
}
.slider .spoiler h1 small{
    color: #fff;
}
.slider .spoiler h3{
    font-size: 35px;
    
}
.section { padding:80px 0; }
.section-title {
    color: #333;
    font-size: 28px;
    line-height: 40px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
}
.section-subcontent {
    padding-bottom: 30px;
    text-align: center;
}
.service-item { text-align: center; }
.service-item .icon-wrapper {
    font-size: 60px;
    margin-bottom: 30px;  
    color: #00d3f9;
}

/* Footer */
footer {
    background: url('images/maps.png') no-repeat center center;
    color: #999;
    border-bottom: 1px solid #e4e5e7;
   
   
}
footer a{ color: #999; }
footer #copyright {
    background: #f7f9fa;
}
footer #copyright .row {
    padding: 15px 0;
}
footer #copyright .copyright-text, footer #copyright .nav-inline {
    margin-top: 15px;
}

/* Replace Bootstrap style */
.btn ,label {
    border-radius: 0;
    -moz-border-radius:0;
}

/* utilities */
.bg-white { background: #fff; }

/* Blog Section */
#blog {
 
}
#blog .blog-item-wrapper {
  background: #fff;
  box-shadow: 0 1px 1px #ddd;
  padding: 15px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin-bottom: 20px;
}
#blog .blog-item-wrapper:hover {
  box-shadow: 0 0 40px #ddd;
}
#blog .blog-item-img {
  position: relative;
  height: 200px;
  overflow: hidden;
}
#blog .blog-item-img img {
  width: 100%;
}
#blog .blog-item-text {
  margin-top: 15px;
}
#blog .blog-item-text h3 {
  font-size: 18px;
  line-height: 30px;
}
#blog .blog-item-text h3 a {
  color: #555;
}
#blog .blog-item-text h3 a:hover {
  
}
#blog .blog-item-text .blog-one-footer {
  padding: 10px 0px 0px;
  border-top: 1px dashed #ddd;
}
#blog .blog-item-text .blog-one-footer a {
  font-size: 12px;
  padding-right: 15px;
  color: #999;
}
#blog .blog-item-text .blog-one-footer a:hover {
  
}
#blog .blog-item-text .blog-one-footer i {
  
  margin-right: 5px;
}
#blog .section-tool { 
  text-align: center;
  padding: 10px 0;
}
#blog .section-tool span{ margin-right: 10px } 
#blog .blog-item-comment-title { margin: 15px 0; }
#blog .blog-item-comments {
  margin: 5px 0 10px ;
}
#blog .blog-item-comments .avatar{ 
  float: left;
  width: 100px;
}
#blog .blog-item-comments .content{
  margin-left: 80px; 
  padding: 15px;
  font-weight: 300;
}
#blog .blog-item-comments .content .info{
  border-bottom: solid 1px #e9e9e9;
  margin-bottom: 10px;
  font-weight: 500;
}
.img-responisve{
	width:100%;
	height:auto;
}

/* End Blog Section */


ul.pagination li {  font-size: 13px; }
ul.pagination li.active , ul.pagination li.disabled{
  background-color: #0275d8;
    border: 1px solid #ddd;
    color: #fff;
    display: block;
    line-height: 1.25;
    margin-left: -1px;
    padding: 0.5rem 0.75rem;
    position: relative;
    


}
ul.pagination li.active {

    border-color: #0275d8;
    color: #fff;
    z-index: 2  
}
ul.pagination li.disabled {
  background-color: #f9f9f9;
  color: #777;
}


/* Content CMS */

.owl-slider .item {
  overflow: hidden;


}
.owl-slider .item:before {
  opacity: 0.6;
  
}
.owl-slider .item .wrap{
  padding: 6% 0;
  margin: 0 10%;
   color: #fff;
 

}
.owl-slider .item .wrap h1{
  color: #fff;
}
.owl-slider .item .wrap h4{
  color: #fff;
  text-transform: uppercase;
}
.owl-slider .item img{
    display: block;
    width: 100%;
    height: auto;
}

img {
  max-width: 100%;
}

/* ----------------------------------------------------------------
  Featured Boxes
-----------------------------------------------------------------*/


.feature-box {
  position: relative;
  margin-top: 20px;
  padding: 0 0 0 80px;
}

.feature-box:first-child { margin-top: 0; }

.feature-box .fbox-icon {
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 0;
  left: 0;
}

.feature-box .fbox-icon a,
.feature-box .fbox-icon i,
.feature-box .fbox-icon img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: #FFF;
}

.feature-box .fbox-icon i,
.feature-box .fbox-icon img {
  border-radius: 50%;
  background-color: #1ABC9C;
}

.feature-box .fbox-icon i {
  font-style: normal;
  font-size: 28px;
  text-align: center;
  line-height: 64px;
}

.feature-box h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: #333;
}

.feature-box p {
  margin: 8px 0 0 0;
  color: #999;
}

.feature-box .before-heading { font-size: 14px; }


/* Feature Box - Icon Large
-----------------------------------------------------------------*/

.feature-box.fbox-large { padding: 0 0 0 115px; }

.feature-box.fbox-large .fbox-icon {
  width: 96px;
  height: 96px;
}

.feature-box.fbox-large .fbox-icon i {
  font-size: 42px;
  line-height: 96px;
}


/* Feature Box - Icon Outline
-----------------------------------------------------------------*/

.feature-box.fbox-outline .fbox-icon {
  border: 1px solid #1ABC9C;
  border-radius: 50%;
  padding: 3px;
}

.feature-box.fbox-outline .fbox-icon i { line-height: 56px; }


/* Feature Box - Icon Outline Large
-----------------------------------------------------------------*/

.feature-box.fbox-outline.fbox-large .fbox-icon { padding: 4px; }

.feature-box.fbox-outline.fbox-large .fbox-icon i { line-height: 86px; }


/* Feature Box - Icon Rounded
-----------------------------------------------------------------*/

.feature-box.fbox-rounded .fbox-icon { border-radius: 3px !important; }

.feature-box.fbox-rounded .fbox-icon i,
.feature-box.fbox-rounded .fbox-icon img { border-radius: 3px !important; }


/* Feature Box - Icon Rounded & Large
-----------------------------------------------------------------*/

.feature-box.fbox-rounded.fbox-large .fbox-icon { border-radius: 4px !important; }

.feature-box.fbox-rounded.fbox-large .fbox-icon i,
.feature-box.fbox-rounded.fbox-large .fbox-icon img { border-radius: 4px !important; }


/* Feature Box - Light Background
-----------------------------------------------------------------*/

.feature-box.fbox-light.fbox-outline .fbox-icon { border-color: #E5E5E5; }

.feature-box.fbox-light .fbox-icon i,
.feature-box.fbox-light .fbox-icon img {
  border: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  color: #444;
}

.feature-box.fbox-light .fbox-icon i { line-height: 62px; }

.feature-box.fbox-light.fbox-outline .fbox-icon i { line-height: 54px; }

.feature-box.fbox-light.fbox-large .fbox-icon i { line-height: 96px; }

.feature-box.fbox-light.fbox-outline.fbox-large .fbox-icon i { line-height: 84px; }


/* Feature Box - Dark Background
-----------------------------------------------------------------*/

.feature-box.fbox-dark.fbox-outline .fbox-icon { border-color: #444; }

.feature-box.fbox-dark .fbox-icon i,
.feature-box.fbox-dark .fbox-icon img { background-color: #333; }


/* Feature Box - Border
-----------------------------------------------------------------*/

.feature-box.fbox-border .fbox-icon {
  border: 1px solid #1ABC9C;
  border-radius: 50%;
}

.feature-box.fbox-border .fbox-icon i,
.feature-box.fbox-border .fbox-icon img {
  border: none;
  background-color: transparent !important;
  color: #1ABC9C;
}

.feature-box.fbox-border .fbox-icon { padding: 0; }

.feature-box.fbox-border .fbox-icon i { line-height: 62px !important; }

.feature-box.fbox-border.fbox-large .fbox-icon i { line-height: 94px !important; }


/* Feature Box - Border - Light
-----------------------------------------------------------------*/

.feature-box.fbox-border.fbox-light .fbox-icon { border-color: #E5E5E5; }

.feature-box.fbox-border.fbox-light .fbox-icon i,
.feature-box.fbox-border.fbox-light .fbox-icon img { color: #888; }


/* Feature Box - Border - Dark
-----------------------------------------------------------------*/

.feature-box.fbox-border.fbox-dark .fbox-icon { border-color: #333; }

.feature-box.fbox-border.fbox-dark .fbox-icon i,
.feature-box.fbox-border.fbox-dark .fbox-icon img { color: #444; }


/* Feature Box - Plain
-----------------------------------------------------------------*/

.feature-box.fbox-plain .fbox-icon {
  border: none !important;
  height: auto !important;
}

.feature-box.fbox-plain .fbox-icon i,
.feature-box.fbox-plain .fbox-icon img {
  border: none !important;
  background-color: transparent !important;
  color: #1ABC9C;
  border-radius: 0;
}

.feature-box.fbox-plain .fbox-icon i {
  font-size: 48px;
  line-height: 1 !important;
}

.feature-box.fbox-plain .fbox-icon img { height: 64px; }

.feature-box.fbox-plain.fbox-image .fbox-icon { width: auto; }

.feature-box.fbox-plain.fbox-image .fbox-icon img {
  width: auto;
  display: inline-block;
}

.feature-box.fbox-plain.fbox-small { padding-left: 42px; }

.feature-box.fbox-plain.fbox-small .fbox-icon { width: 28px; }

.feature-box.fbox-plain.fbox-small h3 {
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 10px;
}

.feature-box.fbox-plain.fbox-small p { margin-left: -42px; }

.feature-box.fbox-plain.fbox-small .fbox-icon i { font-size: 28px; }

.feature-box.fbox-plain.fbox-small .fbox-icon img { height: 28px; }

.feature-box.fbox-plain.fbox-large .fbox-icon i { font-size: 72px; }

.feature-box.fbox-plain.fbox-large .fbox-icon img { height: 96px; }

.feature-box.fbox-plain.fbox-light .fbox-icon i,
.feature-box.fbox-plain.fbox-light .fbox-icon img { color: #888; }

.feature-box.fbox-plain.fbox-dark .fbox-icon i,
.feature-box.fbox-plain.fbox-dark .fbox-icon img { color: #444; }


/* Feature Box - Center
-----------------------------------------------------------------*/

.feature-box.fbox-center {
  padding: 0;
  text-align: center;
}

.feature-box.fbox-center.fbox-small { padding-left: 0 !important; }

.feature-box.fbox-center .fbox-icon {
  position: relative;
  width: 96px;
  height: 96px;
  margin: 0 auto 30px;
}

.feature-box.fbox-center .fbox-icon i {
  font-size: 42px;
  line-height: 96px;
}

.feature-box.fbox-center.fbox-outline .fbox-icon i { line-height: 88px; }

.feature-box.fbox-center p {
  font-size: 14px;
  margin-top: 15px;
}


/* Feature Box - Center & Large Icons
-----------------------------------------------------------------*/

.feature-box.fbox-center.fbox-large .fbox-icon {
  width: 128px;
  height: 128px;
}

.feature-box.fbox-center.fbox-large .fbox-icon i {
  font-size: 70px;
  line-height: 128px;
}

.feature-box.fbox-center.fbox-large.fbox-outline .fbox-icon i { line-height: 118px; }

.feature-box.fbox-center.fbox-light .fbox-icon i { line-height: 94px; }

.feature-box.fbox-center.fbox-light.fbox-outline .fbox-icon i { line-height: 86px; }

.feature-box.fbox-center.fbox-light.fbox-outline.fbox-large .fbox-icon i { line-height: 114px; }

.feature-box.fbox-center.fbox-border .fbox-icon i { line-height: 94px !important; }

.feature-box.fbox-center.fbox-large.fbox-border .fbox-icon i { line-height: 126px !important; }

.feature-box.fbox-center.fbox-plain .fbox-icon i { font-size: 84px; }

.feature-box.fbox-center.fbox-plain .fbox-icon img { height: 96px; }

.feature-box.fbox-center.fbox-large.fbox-plain .fbox-icon i { font-size: 112px; }

.feature-box.fbox-center.fbox-large.fbox-plain .fbox-icon img { height: 128px; }


/* Feature Box - Center & Large Icons
-----------------------------------------------------------------*/

.feature-box.fbox-center.fbox-small .fbox-icon {
  width: 64px;
  height: 64px;
}

.feature-box.fbox-center.fbox-small .fbox-icon i {
  font-size: 28px;
  line-height: 64px;
}

.feature-box.fbox-center.fbox-small.fbox-outline .fbox-icon i { line-height: 58px; }

.feature-box.fbox-center.fbox-light.fbox-outline.fbox-small .fbox-icon i { line-height: 54px; }

.feature-box.fbox-center.fbox-small.fbox-border .fbox-icon i { line-height: 62px !important; }

.feature-box.fbox-center.fbox-small.fbox-plain .fbox-icon i { font-size: 56px; }

.feature-box.fbox-center.fbox-small.fbox-plain .fbox-icon img { height: 64px; }

.feature-box.fbox-center.fbox-small p {
  font-size: 14px;
  margin-top: 10px;
}

.feature-box.fbox-center.fbox-plain.fbox-small p { margin-left: 0; }


/* Feature Box - Right
-----------------------------------------------------------------*/

.feature-box.fbox-right {
  padding: 0 80px 0 0;
  text-align: right;
}

.feature-box.fbox-right.fbox-large { padding-right: 115px; }

.feature-box.fbox-right .fbox-icon {
  left: auto;
  right: 0;
}

.feature-box.fbox-right.fbox-plain.fbox-small { padding: 0 42px 0 0; }

.feature-box.fbox-right.fbox-plain.fbox-small p { margin: 0 -42px 0 0; }


/* Feature Box - Subtitle
-----------------------------------------------------------------*/

.feature-box h3 + .fbox-icon { margin-top: 20px !important; }

.feature-box h3 span.subtitle {
  display: block;
  margin-top: 5px;
  color: #444;
  font-weight: 300;
  text-transform: none;
}

.feature-box.fbox-center:not(.fbox-bg) h3:after {
  content: '';
  display: block;
  margin: 20px auto;
  width: 30px;
  border-top: 2px solid #555;
  -webkit-transition: width .3s ease;
  -o-transition: width .3s ease;
  transition: width .3s ease;
}

.feature-box.fbox-center:not(.fbox-bg):hover h3:after { width: 50px; }

.feature-box.fbox-center.noborder:not(.fbox-bg) h3:after,
.feature-box.fbox-center.nobottomborder:not(.fbox-bg) h3:after { display: none; }

.feature-box.fbox-center.fbox-italic p {
  font-style: italic;
  font-family: 'Lato', sans-serif;
}


/* Feature Box - Background
-----------------------------------------------------------------*/

.feature-box.fbox-bg.fbox-center {
  margin-top: 68px;
  padding: 68px 30px 30px;
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}

.feature-box.fbox-bg.fbox-center:first-child { margin-top: 48px; }

.feature-box.fbox-bg.fbox-center.fbox-large {
  margin-top: 84px;
  padding-top: 84px;
}

.feature-box.fbox-bg.fbox-center.fbox-large:first-child { margin-top: 64px; }

.feature-box.fbox-bg.fbox-center .fbox-icon {
  position: absolute;
  top: -48px;
  left: 50%;
  margin: 0 0 0 -48px;
}

.feature-box.fbox-bg.fbox-center.fbox-large .fbox-icon {
  top: -64px;
  left: 50%;
  margin-left: -64px;
}

.feature-box.fbox-bg.fbox-center.fbox-plain .fbox-icon,
.feature-box.fbox-bg.fbox-center.fbox-border .fbox-icon,
.feature-box.fbox-bg.fbox-center.fbox-outline .fbox-icon { background-color: #FFF; }


/* Utilities */
.heading-block {
  text-transform: uppercase;
}
.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4,
.heading-block h5 {
  padding: 0 0 10px;
  border-bottom: 2px solid #1abc9c;
  
}

/* ----- General CSS --- */
.container-title{
  padding: 20px 0;
  clear: both;
  display: block;
} 
.container-title h4{
  position: absolute;
  padding: 0 50px 0px 0;
  background: #fff;
  font-size: 150%;
  color: #373737;

} 
.container-title.title-border {
  border-bottom: solid 1px #eee; 
  top: 49%;
}

.mb-20 {margin-bottom: 20px; }.mb-30 {margin-bottom: 30px; }.mb-40 {margin-bottom: 40px; }.mb-50 {margin-bottom: 50px; }.mb-60 {margin-bottom: 60px; }
/* ------------ */

/* Portpolio Css */

/*------------- */
ul.portfolio-filter {
  margin:0;
  padding: 0;
  list-style: none;
  border:1px solid rgba(0, 0, 0, 0.07);
  clear: both;
}
ul.portfolio-filter li{
  float: left;
  
}
ul.portfolio-filter li a{
  display: inline-block;
  padding: 12px 18px;
  border-left: 1px solid rgba(0, 0, 0, 0.07);
   color: #444;
  
}
ul.portfolio-filter li:first-child a{
   border-left: none;
}
ul.portfolio-filter li.active a{
  background: #1abc9c;
  color: #fff;
  font-weight: 600;
}

.faqs .toggle {
    border-bottom: 1px solid #eee;
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.toggle .togglet, .toggle .toggleta {
    color: #444;
    cursor: pointer;
    display: block;
   
    font-weight: 600;
    line-height: 24px;
    margin: 0;
    padding: 0 0 0 24px;
    position: relative;
}
.toggle .togglec {
  padding: 20px 20px 20px 30px;
 
}
/* Section Team */
#team {}
#team .team-member {
  padding: 20px 0;
}
#team .team-member img {
  width: 80px;
}

.teams {
 margin-bottom: 20px;
}
.teams .image {
  height: 250px;
  overflow:hidden;
}
.teams .info {
  text-align: center;
  padding: 20px 0;
}
.teams .info h4{
  font-size: 150%;
}
.teams .info span{
  font-weight: 600;
  font-style: italic;
}

.teams .info .social{
  font-weight: 600;
  font-style: italic;
}
.teams .info .social a{
  display: inline-block; 
  margin-top: 10px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  background: #eee;
  border-radius:20px;
  color: #999; 
}
.teams .info .social a:hover{
  background: #1abc9c ;
  color: #fff;
}
.teams .info .social a i:last-child{
  color: #fff;
  display: none;
}

.team {
 margin-bottom: 20px;
}



.team.team-list .team-image {
  float: left;
  margin-right: 30px;
  width: 250px;
}
.team.team-list .team-title h4{
  display: block;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.team-title span {
    color: #1abc9c;
    display: block;
    font-family: "Crete Round",serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    margin-top: 5px;
}
.team-content {
    color: #777;
    margin-top: 15px;
}

/* Client Slider */

 .client-section {
    padding: 30px 0;
  }    
  .client-slider .item{
  padding: 5px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.client-slider .item img{
  width: 150px;
  
}




@media screen and (max-width: 767px) {
  .navbar-fixed-bottom, .navbar-fixed-top {
      border-radius: 0;
  }

  .navbar-fixed-top {
      border-width: 0 0 1px;
      top: 0;
  }
  .navbar-fixed-bottom {
      border-width: 1px 0 0;
      bottom: 0;
      margin-bottom: 0;
  }

  .navbar-default .navbar-nav > li > a {
    line-height: 20px ;
  }

  .navbar-brand {
      padding: 3px 0 0 25px;
  }  
}

/*Validation*/
.parsley-error-list {
  margin-top: 4px;
  padding: 0;
  background: #cc0000 ;
  border-radius: 4px;
  font-weight: 600;
}
.parsley-error-list li {
  padding: 0;
  list-style: none;
  color: #fff;
  padding: 2px 0 0 15px
}
.parsley-error {
  border-color: #c00 !important;
}
ul.parsley-errors-list{
  list-style: none;
    padding: 0;
  margin: 0;
}
ul.parsley-errors-list li{
  color: #cc0000;
  font-size: 11px;
  font-style: italic;

}

.table > thead > tr > th { 
    border-bottom-width : 1px; 
    border-bottom:1px solid #eee !important; 
    border-top:1px solid #eee !important; 
}
.table > tbody > tr > td { border-bottom-width : 1px; border-top: none !important; }

/*Tambahan Akos*/

.cust-foot-text{ 
	text-transform:uppercase;
	font-size:25px;
	color: #fff;
	text-align: center;
	padding: 15px 0;
}

.full-cont{
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.bg-blue{
	background-color: #0072BB !important;
}

.top-header{
	background-color: #e2e3e7 !important;
}

.navbar-default .white-text > li > a{
	color: #fff !important;
	font-weight: bold;
	    font-size: 18px;
	text-transform: uppercase;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

.custom-ul-header{
	padding:0;
}

.navbar-brand{
	height: 83px;
}

.search-div{
	background-color: #f0f3f3;
	padding: 15px 0 !important;
}
.custdrop-search{
	color: #fff;
	background-color: transparent;
	z-index: 999;
	border: 1px solid #555;
}

.custdrop-search:hover, .custdrop-search:active, .custdrop-search:visited {
	color: #fff;
	background-color: #555;
}

@media (min-width:768px){
	.custom-ul-header{
		padding: 0 13%;
	}
	
	.custom-ul-header li{
		background: url(images/icon-menu.png) no-repeat center right;
	}
	
	.custom-ul-header > li:last-child {
		background: none;
	}

	.navbar-brand>img{
		margin-left: 55%;
	}
}

@media (min-width:1024px){
	.custom-ul-header{
		padding: 0 24%;
	}
}

<!--added by ayu-->
.bagiannews{
	    padding-right: 0px!important;
    	padding-left: 0px!important;
}
.newsone{
	padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 50px;
}
<!--testi-->
.testimonials{
	background-color: #f33f02;
	position: relative;
	padding-top: 80px;
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 30%;
		background-color: #ddd;
	}
}
#customers-testimonials {
	.item-details{
		background-color: #333333;
		color: #fff;
		padding: 20px 10px;
		text-align: left;
		h5{
			margin: 0 0 15px;
			font-size: 18px;
			line-height: 18px;
			span{
				color: red;
				float:right;
				padding-right: 20px;
			}
		}
		p{
			font-size: 14px;
		}
	}
	.item {
			text-align: center;
			// padding: 20px;
			margin-bottom:80px;
	}
}
.owl-carousel .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
	line-height: 50px;
	border-radius: 50%;
  position: absolute;
  top: 30%;
	font-size: 20px;
  color: #fff;
	border: 1px solid #ddd;
	text-align: center;
}
.owl-carousel .owl-prev {
  left:0 !important;
}
.owl-carousel .owl-next {
  right: 0 !important;
}
.owl-dots{
	display:block;
	position: relative;
	bottom: 40px;
}
.owl-carousel .owl-dots .owl-dot{
	margin-top:0 !important;
	background-color:transparent;
	border:none;
}
.owl-carousel .owl-dots .owl-dot span{
	background-color: #fff;
}
.shadow-effect .gambar{
			width: 100px!important;
            height: 96px!important;
            line-height: 20px;
            border-radius: 50%;
            border: 5px solid #ff9c24!important;
            position: absolute;
            overflow: hidden;
            top: 1px !important;
            left: 35%;
            
}

.item-details{
	border: 2px solid #cecece;
	border-radius: 16px;
}

.cst-testi-items{
	background-color: white; 
	height:420px; 
	border-radius: 47px; 
	margin-top: 31px;
}

.cst-testi-items h3{
	padding-top: 70px; 
	font-weight:bold;
	text-align:center;
}

.cst-testi-items h5{
	 text-align:center;
}

.cst-testi-items p{
	padding-left:30px; 
	padding-right: 30px;
}

.colorlogin{
	background-color:#2da1de!important;
}

/* custom job category */

	#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }

    .search-query:focus + button {
        z-index: 3;
    }
    
    .link-div{
    	text-decoration: none!important;
    	color: #555 !important;
    }
    
    .span-title{
    	width: 100px;
    	display: inline-block;
    }
    
    .span-value{
    	padding-left: 10px;
    }
    
    .req-br br:first-child{
    	display: none;
    }
    
    .bread-job{
    	font-size: 12px; 
		background-color: #0089d1;
		height: 27px;
		color: #fff;
		padding: 5px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
    }
    
    .bread-job a{
    	text-decoration:none;
    	color: #fff !important;
    }
    
    .bread-job a:hover{
    	text-decoration:none;
    	color: #e5f94a !important;
    }
    
    /*-----------------*/
/***** Winston *****/
/*-----------------*/
figure.effect-winston p {
	word-spacing: -0.15em;
	font-weight: 300;
	padding: 10px 3px;
	color: #fff !important;
	-webkit-transition: color 0.45s;
    transition: color 0.45s;
}

figure.effect-winston {
	background: #0072BB;
	text-align: left;
}

figure.effect-winston img {
	-webkit-transition: opacity 0.45s;
	transition: opacity 0.45s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-winston figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	content: '';
	-webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
	transition: opacity 0.45s, transform 0.45s;
	-webkit-transform: rotate3d(0,0,1,45deg);
	transform: rotate3d(0,0,1,45deg);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

figure.effect-winston:hover img {
	opacity: 0.6;
}

figure.effect-winston:hover p {
	text-decoration: none;
	color: #ffd842 !important;
}

figure.effect-winston:hover figcaption::before {
	opacity: 0.7;
	-webkit-transform: rotate3d(0,0,1,20deg);
	transform: rotate3d(0,0,1,20deg);
}

.link-effect-winston:hover{
	text-decoration: none;
}

/*-----------------*/
<!--end-->
/* design faq*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

body {padding-top:50px;}

.box {
    border-radius: 19px!important;
    box-shadow: 0 2px 14px 0 rgb(253, 217, 84), 0 6px 10px 0 rgb(255, 79, 97);
    background-color: #1b96e4;
    color: white;
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
}
.box-icon {
    background-color: #fa9928;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #ffffff;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #626769;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #fa9928;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

<!--end design faq-->
/*-----------------*/

/*added by ayu*/
#listcategorynews{
	background-color:aqua!important;
}
/*end*/

.custom-pagination ul.pagination{
	width: 100%;
	padding: 0 7% !important;
}

.custom-pagination ul.pagination li.disabled{
	display: inline !important;
	border: 0 solid transparent !important;
	line-height: 0 !important;
	margin-left: 0 !important;
	padding: 0 0 !important;
}

.custom-pagination ul.pagination li.active{
	display: inline !important;
	border: 0 solid transparent !important;
	line-height: 0 !important;
	margin-left: 0 !important;
	padding: 0 0 !important;
}

.res {
	background-color: #0089D1;
	color: #fff;
	padding: 5px 8px;
	margin: 0 5px;
	border-radius: 20px;
}

/*-- navbar submenu --*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.dropdown-submenu:hover>.dropdown-menu, .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color:#5c9bf5 !important;
}

@media (max-width: 767px){
	.navbar-default .navbar-nav .open .dropdown-menu>li>a{
		color: #fff !important;
	}
}

@media (max-width: 991px){
	.search-job-btn{
		width: 100%;
	}
	.imagetitlecolor{
		text-align:center;
	}
	.nobottomborder{
		padding-top: 15px;
	}
}

/* Start Bagian blog home */
.bagianblog{
	color: white;
	padding-top: 0px;
    padding-bottom: 10px; 
}

.title-bagianblog{
	font-weight: bold; 
	text-align:center;
	margin-top: 20px;
	margin-bottom: 30px; 
	font-size:18px;
}

.imagetitlecolor{
	background-color:#015f9c!important;
}

.imagetitlecolor:nth-child(2n+3){
    background-color:#0089d0!important;
}

.link-news .link-news-title{
	margin-left: 30px;
	margin-right: 30px; 
	margin-top: 20px; 
	color: #ffffff; 
	line-height: 1.2;
	-webkit-transition: color 0.45s;
    transition: color 0.45s;
}

.link-news:hover{
	text-decoration:none;
}

.link-news:hover .link-news-title{
	color: #ffd842;
}

.seemore-btn{
	background-color:#FF9C24; 
	border-color: #FF9C24;
	height: 40px; 
	border-radius: 10px; 
	font-weight:bold;
	transition: all .2s ease-in-out;
}

.seemore-btn:hover{
	background-color:#FF9C24; 
	border-color: #FF9C24;
	transform: scale(1.1);
}

/* End Bagian blog home */

/* Start footer */
@media (max-width: 768px){
	.footer-left{
		text-align: center !important;
	}

	.footer-right{
		text-align: center !important;
	}
}
/* End footer */

.subtitle-job{
    	font-size: 12px;
    	color: #aaa;
}
    
.details-link{
    	float: right;
}
    
.effect:hover {
    	box-shadow: 0 0 40px #ddd;
}

.img-pref-job{
	width:100%; 
	height:auto; 
	margin-top:14px;
}

@media (max-width: 991px){
	.img-pref-job{
		width:40%; 
	}
}

.vid-job{
	width:100%;
	height: auto;
}

/* Start contact us */
.maps-contactus{
	width:100%;
	height: 400px;
}

.contactus-text{
	margin: 0 10%;
	line-height: 1.6;
	padding: 20px 0;
}
/* End contact us */

/* start unsunscribe page */
.unsubscribe{
	margin: 15% auto;
	text-align: center;
	width: 500px;
	font-family: 
}

.content-unsubscribe{
	border: 3px solid #0072bc;
	padding: 20px;
}

.content-unsubscribe h1{
	color: #0072bc;
}
/* end unsunscribe page */


